:root {
  --darkblue: #2F4858;
  --midblue: #33658A;
  --orange: #F26419;
  --yellow: #F6AE2D;
  --black: rgb(35, 35, 35);
}

* {
  font-family: 'Roboto', 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.header-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: linear-gradient(90deg, var(--darkblue) 0%, var(--midblue) 48% 100%);
  padding: 1%;
}

.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  width: 100%;
  padding: 1%;
}

#logo {
  display: flex;
  font-family: 'Brush Script MT', serif;
  font-size: 2rem;
  /* background-color: purple; */
  margin-left: 3%;
  justify-content: start;
  color: var(--yellow);
  /* align-items: center; */
}

.menu-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* background-color: green; */
}

.menu-item li {
  list-style: none;
}

.menu-item a {
  text-decoration: none;
  color: white;
}

.first-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  padding: 1%;
  /* background-color: red; */
}

.first-section-text {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin: 1%;
}

.image {
  justify-content: center;
  align-items: center;
}

img {
  width: 80%;
}

#iny7r5 {
  color: var(--orange);
  font-family: "Brush Script MT", sans-serif;
  font-size: 5rem;
  color: var(--yellow);
}

.first-section-text h1 {
  font-size: 5rem;
  font-weight: bold;
  color: white;
  /* background-color: red; */
  letter-spacing: -2px;
  font-family: 'Inter', sans-serif;
}

.lead-title-text {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  font-weight: light;
  letter-spacing: -1px;
  color: white;
  margin-top: -8%;
}

.lead-btn {
  margin-top: -8%;
  display: inline-block;
  padding: 10px 30px;
  font-size: 2rem;
  background-color: var(--yellow);
  border-radius: 5px;
  transition: all 0.5s ease;
  text-decoration: none;
  color: black;
  width: fit-content;
}

.lead-btn:hover {
  background-color: white;
  color: var(--black);
}

.lead-btn:active {
  background-color: #4d114f;
  color: #fff;
} 

.second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1%;
  /* background-color: red; */
}

.second-section-toptext {
  align-items: center;
  justify-content: center;
  color: var(--darkblue);
  margin: 1%;
}

.second-section-toptext h2 {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

.second-section-toptext h3 {
  font-size: 1.5rem;
  font-weight: light;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

/*
.flex-desc {
  margin-bottom: 55px;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 5px;
}

.cards {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.card {
  background-color: white;
  height: 300px;
  width: 300px;
  margin-bottom: 30px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  transition: all 0.5s ease;
  font-weight: 100;
  overflow: hidden;
}

.card:hover {
  margin-top: -5px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
  height: 155px;
  background-image: url("https://via.placeholder.com/350x250/78c5d6/fff");
  background-size: cover;
  background-position: center center;
}

.card-header.ch2 {
  background-image: url("https://via.placeholder.com/350x250/459ba8/fff");
}

.card-header.ch3 {
  background-image: url("https://via.placeholder.com/350x250/79c267/fff");
}

.card-header.ch4 {
  background-image: url("https://via.placeholder.com/350x250/c5d647/fff");
}

.card-header.ch5 {
  background-image: url("https://via.placeholder.com/350x250/f28c33/fff");
}

.card-header.ch6 {
  background-image: url("https://via.placeholder.com/350x250/e868a2/fff");
}

.card-body {
  padding: 15px 15px 5px 15px;
  color: #555;
}

.card-title {
  font-size: 1.4em;
  margin-bottom: 5px;
}

.card-sub-title {
  color: #b3b3b3;
  font-size: 1em;
  margin-bottom: 15px;
}

.card-desc {
  font-size: 0.85rem;
  line-height: 17px;
}

.am-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.am-content {
  float: left;
  padding: 7px;
  width: 490px;
  color: #444;
  font-weight: 100;
  margin-top: 50px;
}

.am-title {
  padding: 7px;
  font-size: 25px;
  font-weight: 400;
}

.am-desc {
  padding: 7px;
  font-size: 17px;
  line-height: 25px;
}

.footer-under {
  background-color: #312833;
  padding-bottom: 100px;
  padding-top: 100px;
  min-height: 500px;
  color: #eee;
  position: relative;
  font-weight: 100;
  font-family: Helvetica, serif;
}

.copyright {
  background-color: rgba(0, 0, 0, 0.15);
  color: rgba(238, 238, 238, 0.5);
  bottom: 0;
  padding: 1em 0;
  position: absolute;
  width: 100%;
  font-size: 0.75em;
}

.made-with {
  float: left;
  width: 50%;
  padding: 5px 0;
}

.foot-social-btns {
  display: none;
  float: right;
  width: 50%;
  text-align: right;
  padding: 5px 0;
}



#i2twr9 {
  font-size: 22.4px;
}

#ip7x09 {
  font-size: 13.6px;
}

#i8ccwi {
  color: black;
  height: 100%;
  left: 25%;
  position: relative;
}

#i41lnf {
  color: black;
  position: relative;
  height: 100%;
  left: 25%;
}

#izp60b {
  color: black;
  position: relative;
  height: 90%;
  left: 25%;
  top: 10%;
}

#itnnvx {
  min-height: 50px;
  padding: 40px 0 100px 0;
}

#ikt8q4 {
  font-family: Helvetica, sans-serif;
  margin: 0 0 10px 0;
}

#ih0kvj {
  display: inline-block;
  font-family: Helvetica, sans-serif;
  font-weight: 900;
  color: #27284e;
  width: 100%;
  text-align: center;
}

#i441e2 {
  color: #27284e;
  font-weight: 900;
  text-align: center;
  width: 100%;
  font-family: Helvetica, sans-serif;
  position: relative;
  display: inline-block;
}

#i4itql {
  color: #eeeeee;
}

#i1lnlk {
  padding: 10px;
  color: #eeeeee;
}

#ip4bap {
  float: right;
  font-family: Helvetica, sans-serif;
  color: #eeeeee;
  text-align: center;
  padding: 10px 0 0 0;
}

#i5tma6 {
  color: #90cbff;
} */

/* #ivnc7l {
  color: #90cbff;
} */

/* #i6u29j {
  color: #90cbff;
} */